*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.75)),url(images/igwotlS.jpeg);
    background-size: cover;
    background-position: center;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 0rem calc ((100vw - 1300px) / 2 );

}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0rem 2rem;
}
.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.hero-btn {
    padding: 1rem 3rem;
    font-size: 2rem;
    border: none;
    color: #fff;
    background: rgb(71, 2, 2);
    cursor: pointer;
    border-radius: 2rem;
}

.hero-btn:hover {
    background: black;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-img {
    width: 100%;
    
}

.hero-link {
    text-decoration: none;
    color: #fff;
}



svg {
    width: 60px;
    color: #fff;
}

.icon-cart {
    position: relative;
}

.cartTab {
    padding-top: 60px;
    width: 350px;
    background-color: rgb(8, 8, 8);
    color: #fff;
    position: fixed;
    inset: 0 -350px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}

.listCart .item {
    margin-top: 20px;
}

.listCart .name {
    width: 10px;
}

body.showCart .gallery-header,
body.showCart .gallery {
    transform: translateX(-350px);
    transition: .5s;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300px;
}

.btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: rgb(48, 2, 2);
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.cartTab .btn .closeCart {
    background-color:#b1b1b1
}

.cartTab .listCart .item img {
    width: 100%;
    border-radius: 40%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 70px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;   
    height: 25px;
    background-color: #fff;
    color: #555;
    border-radius: 50%; 
    cursor: pointer;
}

.quantity {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 8, 8);
    padding: 0 25px;
    transition: 0.3s;
}


.about {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about p {
    padding-top: 20px;
}

.about em {
    font-size: 12px;
}

.main-page-content h2 {
    font-size: 50px;
    padding-bottom: 50px;
}

.main-page-content p {
    font-size: 20px;
}
.logo h1 {
    display: block;
    color: #fff;
}

h1,
h2,
p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}

.menu li a:hover {
    box-shadow: 0 -5px 0px #fff inset,
    500px 0 0 rgba(255,255,255,0.03) inset;
}

.hamburger {
    position: relative;
    width: 25px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger::before {
    top: -10px;
    width: 25px;
}

.hamburger::after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}

.navigation input:checked ~ .hamburger {
    background: transparent;
}
.navigation input:checked ~ .hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~ .menu {
    right: 0;
    box-shadow: -20px 0 40px rgba (0,0,0,0.3); 
}

.gallery {
    color: #fff;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.gallery div {
    max-width: 400px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 20px;
    text-align: center;
}

.gallery div img {
    border-radius: 50%;
}

.price {
    font-size: 30px;
}
.cart-btn {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.gallery-header {
    padding: 35px 35px 35px 35px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.gallery h4 {
    font-size: 30px;
}

.regContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.regContainer h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 40px;
}

.buttonReg {
    background: #fff;
    padding: 10px 15px;
    color: rgb(167, 22, 22);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0,75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
}

.logContainer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.logContainer h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 40px;
}

.buttonLogin {
    background: #fff;
    padding: 10px 15px;
    color: rgb(167, 22, 22);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
}

.buttonReg {
    background: #fff;
    padding: 10px 15px;
    color: rgb(167, 22, 22);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
}

.buttonLogin:hover,
.buttonReg:hover {
    background: rgb(124, 16, 16);
    color: #fff;
}

.popupLog {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popupReg {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-contentLog {
    height: 300px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-contentReg {
    height: 350px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
} 

.popup-contentLog h2,
.popup-contentReg h2 {
    color: black;
    padding-bottom: 20px;
    padding-top: 15px;
}

.popup-content a.buttonLogin,
.popup-content a.buttonReg {
    font-size: 15px;
    background: #ebebeb;
    box-shadow: 6px 6px 6px -4px rgba(0, 0, 0, 0.75);
}

.popup-content a.buttonLogin:hover,
.popup-content a.buttonReg:hover {
    background: rgb(124, 16, 16);
    color: #fff;
}

input {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px sold grey;
}

.closeLog  {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.closeReg  {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.logContainer h2,
.regContainer h2  {
    padding-bottom: 20px;
}

@media  screen and (max-width: 900px) {
    .hamburger,
    .toggle-menu {
        display: block;
    }

    .about {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transform: translateY(20%);
    }

    .popup-contentLog,
    .popup-contentReg {
        width: 300px;
    }


    .header {
        padding: 10px 20px;
    }

    .gallery {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery p {
        padding-bottom: 20px;
    }
    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: rgba(0, 0, 0, 0.836);
        width: 200px;
        height: 100%;
        padding-top: 65px;
    }

    .menu li {
        width: 100%;
    }

    .menu li a,
    .menu li a:hover {
        padding: 25px;
        font-size: 24px;
        box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
    }
    
    body { 
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.75)),url(images/igwotlS.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .hero-container {
        grid-template-columns: 1fr;

    }
}